<link rel="stylesheet" href="../css/StayTuned.css">
<section class="showcase">
    <video src="/video/ComingSoon.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
    <div class="amalcontentCS">
        <div class="amalimgCS">
            <img src="/images/Amalthea-White-removebg-preview.png" alt="">
        </div>
        <div class="amalNameCS">
            Amalthea 2021
        </div>
        <div class="comingsoonCS">
            Coming Soon
        </div>
        <div class="caportalCS">
            <button class="caportalbtn">
                <a href="">CA Portal</a>
            </button>
        </div>
        <div class="socialCS">
            <div class="socialiconsCS">
                <a href="https://www.instagram.com/amalthea_iitgn/" aria-label="link" target="blank"><i
                        class="fa fa-instagram fa-2x"></i></a>
                <a href="https://www.linkedin.com/company/amalthea-iit-gandhinagar/?originalSubdomain=in"
                    aria-label="link" target="blank"><i class="fa fa-linkedin fa-2x"></i></a>
                <a href="https://www.facebook.com/amalthea.iitgn/" aria-label="link" target="blank"><i
                        class="fa fa-facebook fa-2x"></i></a>
                <a href="https://twitter.com/amalthea_iitgn?lang=en" aria-label="link" target="blank"><i
                        class="fa fa-twitter fa-2x"></i></a>
                <a href="https://www.youtube.com/user/AmaltheaIITGn" aria-label="link" target="blank"><i
                        class="fa fa-youtube-play fa-2x"></i></a>
            </div>
        </div>
    </div>
</section>