<link rel="stylesheet" href="../css/CAhome.css">

<header class="bg-blue-600 w-full"></header>

<section class="hero w-full">
	<div class="head flex flex-col lg:flex-row mx-auto my-8 w-full lg:w-max text-white">
		<div class="flex flex-col">
			<div><img src="../images/Amalthea-White-removebg-preview.png" alt="" class="h-48 lg:h-96 flex mx-auto"></div>
			<div class="text-xl lg:text-3xl flex mx-auto font-bold">Amalthea'21</div>
		</div>
		<div class="flex flex-col mx-0 lg:mx-4">
			<div class="hero-head flex text-white m-12 items-center text-3xl lg:text-7xl text-center font-semibold">CAMPUS AMBASSADOR PROGRAM</div>
			<div class="text-xl lg:text-5xl text-center">Begin your journey as a leader</div>
			<div class="text-lg lg:text-3xl text-center my-6">Annual Tech summit, IIT Gandhingar</div>
			<div class="flex mx-auto my-12 text-xl">
				<button class="border-2 rounded-full border-white hover:bg-white hover:text-black px-4 py-2 mx-4 font-extrabold"><a href="/CAregister">Register</a></button>
				<button class="border-2 rounded-full border-white hover:bg-white hover:text-black px-4 py-2 mx-4 font-extrabold"><a href="#secondPage">Know More</a></button>
			</div>
		</div>
	</div>
</section>

<section id="secondPage">
	<div class="w-full flex flex-col lg:flex-row">
		<div class="w-5/6 lg:w-1/2 p-8 m-8 text-white border-blue-900 border-2 rounded-lg ca-card">
			<div class="text-lg mb-2 font-bold">What is the Campus Ambassador Programme?</div>
			<hr class="para-head h-1 bg-white mb-5">The campus ambassador programme of Amalthea, IIT Gandhinagar is one of its kind. It allows you to develop leadership, team-building, communication and crowd-pulling skills by associating with one of the best institutes of India. We aim to create a network of strong, like-minded students willing to become representatives of Amalthea at their institutions. Take a look at the site to know the benefits of becoming a campus ambassador.
		</div>

		<div class="w-5/6 lg:w-1/2 p-8 m-8 text-white border-blue-900 border-2 rounded-lg ca-card">
			<div class="text-lg mb-2 font-bold">About us</div>
			<hr class="para-head h-1 bg-white mb-5">Amalthea is the Annual Technical Summit of IIT Gandhinagar and the only student run summit in India. As one of the largest events of its kind in Gujarat, Amalthea has been attracting large crowds of engineers, professionals, school and college students over the years. Because of the pandemic, the summit shall be online this year. Amalthea seeks to bring together the best minds from various fields to spread knowledge among the masses in ways to help them strive for a more prosperous future.
		</div>
	</div>
</section>

<section class="thirdPage m-5 lg:m-10">
	<div class="mx-4 lg:mx-10 flex flex-col">
		<div class="headerText text-3xl lg:text-5xl text-center mb-4 text-white">Why become a campus ambassador?</div>
		<hr class="h-1 w-3/5 m-auto bg-gray-500 border-0 mb-8">
		<div class="flex flex-col lg:flex-row">
			<div class="ca-card w-full lg:w-1/4 m-2 p-6 text-white border-2 border-gray-700 rounded-lg hover:bg-blue-700 hover:text-white overflow-hidden relative transition-all hover:scale-105 transform">
				<div class="font-bold pb-2">Communication skills</div>
				<hr class="para-head h-1 bg-white mb-5 border-0">
				Becoming a campus ambassador, you have the opportunity to talk to people and convince them to participate in Amalthea. This enables you to develop confidence and improve your ability to express your points clearly and firmly.
			</div>
			<div class="ca-card w-full lg:w-1/4 m-2 p-6 text-white border-2 border-gray-700 rounded-lg hover:bg-blue-700 hover:text-white overflow-hidden relative transition-all hover:scale-105 transform">
				<div class="font-bold pb-2">Leadership skills</div>
				<hr class="para-head h-1 bg-white mb-5 border-0">
				While pitching for an event, your confidence matters. The more you address, high your confidence becomes. Having high confidence is an essential skill for a leader. It improves the way of putting forth your ideas.
			</div>
			<div class="ca-card w-full lg:w-1/4 m-2 p-6 text-white border-2 border-gray-700 rounded-lg hover:bg-blue-700 hover:text-white overflow-hidden relative transition-all hover:scale-105 transform">
				<div class="font-bold pb-2">Expanding network</div>
				<hr class="para-head h-1 bg-white mb-5 border-0">
				By becoming a campus ambassador, you are associating yourself with one of the best institutes of India. You also get to interact with the best minds, thus expanding your network.
			</div>
			<div class="ca-card w-full lg:w-1/4 m-2 p-6 text-white border-2 border-gray-700 rounded-lg hover:bg-blue-700 hover:text-white overflow-hidden relative transition-all hover:scale-105 transform">
				<div class="font-bold pb-2 border-0">Time Management</div>
				<hr class="para-head h-1 bg-white mb-5 border-0">
				Being a campus ambassador, you have responsibilities. By managing both your college and Amalthea commitments efficiently, you will learn time essential management skills.
			</div>
		</div>
	</div>

	<div class="">
		<div class="ca-card w-full lg:w-max p-6 m-2 text-white border-2 border-gray-700 rounded-lg hover:bg-blue-700 group hover:text-white overflow-hidden relative transition-all hover:scale-105 transform mx-auto mb-8">
			<div class="headerText font-bold pb-2">Get a chance to win exciting prizes like</div>
			<hr class="para-head h-1 bg-white mb-5 border-0 group-hover:bg-white">
			•&nbsp;&nbsp;&nbsp;Bluetooth Speaker<br>
			•&nbsp;&nbsp;&nbsp;Dual Pendrive<br>
			•&nbsp;&nbsp;&nbsp;Amalthea Merchandise<br>
		</div>
		<div class="headerText text-center text-4xl mb-4 text-white">Some of the previous year rewards</div>
		<hr class="h-1 w-1/2 m-auto bg-gray-500 mb-10 border-0">
		<div class="flex flex-col lg:flex-row mx-auto justify-evenly items-center my-8">
			<div class="my-2">
				<img src="../images/miband.png" class="border-4 border-gray-500 w-64 h-64 rounded-full object-cover hover:scale-110 transform transition-all">
			</div>
			<div class="my-2">
				<img src="../images/amazon.jpg" class="border-4 border-gray-500 w-64 h-64 rounded-full object-cover hover:scale-110 transform transition-all">
			</div>
			<div class="my-2">
				<img src="../images/bag.png" class="border-4 border-gray-500 w-64 h-64 rounded-full object-cover hover:scale-110 transform transition-all">
			</div>
		</div>
		
		<div class="text-gray-300 my-8">
			<div>Apart from this, all the CAs will get official Amalthea, IITGN certificate (Terms and conditions
			apply).</div>
			<div>Note: You will be considered eligible for availing the incentives only if you cross a certain
			number of points.</div>
		</div>
	</div>
	
	<div class="text-white flex my-16 flex-col">
		<div class="headerText text-4xl mb-4 text-center">Responsibilities</div>
		<hr class="h-1 w-1/6 m-auto bg-gray-500 mb-10 border-0">
		<div class="para-head flex flex-col m-auto">
			1.&nbsp;&nbsp;&nbsp;The campus ambassadors must follow Amalthea's official handles on specified social media platforms.<br>
			2.&nbsp;&nbsp;&nbsp;They will be asked to expand the reach of Amalthea’s events and posts via sharing its information through stories and status updates on their social media handles.<br>
			3.&nbsp;&nbsp;&nbsp;They are expected to bring in maximal registrations and participation for the events and webinars from their institutes.<br>
			4.&nbsp;&nbsp;&nbsp;They will be asked to share the registration forms and other relevant information with the students at their institute.<br>
			5.&nbsp;&nbsp;&nbsp;They are expected to encourage the students at their institutes to visit the social media handles of Amalthea and know more about the summit. <br>
			6.&nbsp;&nbsp;&nbsp;The campus ambassadors will be required to share valid pieces of evidence on the completion of their tasks and responsibilities to maintain their scores.<br>
		</div>
		<div class="my-8 lg:mx-52">The responsibilities of CAs are not limited to the above-mentioned points and, they may be required to perform other tasks as and when required.</div>
	</div>
	
</section>

<section class="contactPage">
	<div class="contact-head text-4xl mb-4 text-center text-white">Contact Us</div>
	<hr class="h-1 w-1/12 m-auto bg-gray-500 mb-10 border-0">
	<div class="flex flex-col lg:flex-row justify-center items-center">
		<div class="w-5/6 lg:w-full m-2 px-6 py-10 bg-white rounded-lg hover:bg-blue-700 hover:text-white transition-all hover:scale-105 transform ca-card text-white">
			<div class="text-xl pb-4 text-center">Dhairya Shah</div>
			<div class="flex py-1">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill m-1.5" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
				</svg>
				+91 851 121 6030
			</div>
			<a class="flex py-1" href="mailto:dhairya.shah@iitgn.ac.in">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill m-1.5" viewBox="0 0 16 16">
					<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
				</svg>
				dhairya.shah@iitgn.ac.in
			</a>
		</div>
		<div class="w-5/6 lg:w-full my-2 mx-2 lg:mx-12 px-6 py-10 bg-white rounded-lg hover:bg-blue-700 hover:text-white transition-all hover:scale-105 transform ca-card text-white">
			<div class="text-xl pb-4 text-center">Lipika Rajpal</div>
			<div class="flex py-1">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill m-1.5" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
				</svg>
				+91 882 426 7454
			</div>
			<a class="flex py-1" href="mailto:lipika.rajpal@iitgn.ac.in">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill m-1.5" viewBox="0 0 16 16">
					<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
				</svg>
				lipika.rajpal@iitgn.ac.in
			</a>
		</div>
		<div class="w-5/6 lg:w-full m-2 px-6 py-10 bg-white rounded-lg hover:bg-blue-700 hover:text-white transition-all hover:scale-105 transform ca-card text-white">
			<div class="text-xl pb-4 text-center">Saurabh Vyawahare</div>
			<div class="flex py-1">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill m-1.5" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
				</svg>
				+91 876 770 5536
			</div>
			<a class="flex py-1" href="mailto:vyawahare.saurabh@iitgn.ac.in">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill m-1.5" viewBox="0 0 16 16">
					<path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
				</svg>
				vyawahare.saurabh@iitgn.ac.in
			</a>
		</div>
	</div>
				
</section>

<div id="back1"><img src="../images/Untitled2.png" alt=""></div>
<div id="back2"><img src="../images/Untitled2.png" alt=""></div>
<div id="back3"><img src="../images/Untitled2.png" alt=""></div>

<script>
	document.querySelectorAll('a[href^="#"]').forEach(anchor => {
		anchor.addEventListener('click', function (e) {
			e.preventDefault();

			document.querySelector(this.getAttribute('href')).scrollIntoView({
				behavior: 'smooth'
			});
		});
	});
</script>

<script type="text/javascript">
	const navlink = document.querySelectorAll(".full-nav>ul>li");
	// console.log(navlink);
	navlink[0].style.color = "white"
	navlink[0].style.fontWeight = "bold";
</script>