body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url("/images/circle-blues.png");
	background-repeat: repeat;
	background-size: 250px 250px;
}
.hero{
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.hero::before{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 96%;
	clip-path: polygon(0% 0%, 0% 100%, 100% 64%, 100% 0%);
	z-index: -1;
	background-color: #121824;
	/* background: linear-gradient(31deg, rgba(128,142,255,1) 8%, rgba(72,94,255,1) 32%, rgba(19,0,255,1) 74%); */
}
.hero::after{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 96%;
	clip-path: polygon(0% 0%, 0% 96%, 100% 86%, 100% 0%);
	z-index: -2;
	background-color: #246BBD;
	/* background: linear-gradient(31deg, rgba(160,170,255,1) 8%, rgba(110,128,255,1) 32%, rgba(75,61,255,1) 74%); */
}
.sub-title{
	letter-spacing: 9px;
}
.collage{
	width: 37rem;
}

.pop-cont::-webkit-scrollbar{
	width: 12px;
}
.pop-cont::-webkit-scrollbar-thumb{
	background: rgb(80, 99, 129);
	border-radius: 6px;
}
.pop-cont::-webkit-scrollbar-track-piece:end {
	background: transparent;
	margin-bottom: 10px; 
}
.pop-cont::-webkit-scrollbar-track-piece:start {
	background: transparent;
	margin-top: 10px;
}
.pop-cont{
	width: 90%;
	height: 90%;
}
.info>div{
	background: linear-gradient(135deg, rgba(255,255,255,0.56),rgba(255,255,255,0.26));
	position: relative;
	backdrop-filter: blur(10px);
	z-index: 10;
}
#blob1{
	position: absolute;
	top: 57%;
	left: 32%;
	width: 60%;
}
#blob2{
	position: absolute;
	top: -13%;
	left: -10%;
	width: 73%;
}
.title{
	color: white;
} 
.content{
	color: rgb(219, 219, 219);
}

.card-cont{
	background: linear-gradient(to bottom,
	rgba(0,0,0,0),
	rgba(0,0,0,1));
}

.lvcard:hover .card-cont{
	transform: translateY(-100%);
	transition: all 300ms ease;
}