<!-- quick links
<div class="mt-96 bg-blue-400 text-white lg:grid lg:grid-cols-3 pr-10 pl-10 pt-5 pb-5">
    <div class="text-left">
        <div class="text-2xl text-white mb-2">Quick Links 1</div>
        <div class="text-md text-white mb-2">
            <ul class="list-disc ml-6">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
                <li><a href="#">Link4</a></li>
            </ul>
        </div>
    </div>
    <div class="text-left">
        <div class="text-2xl text-white mb-2">Quick Links 2</div>
        <div class="text-md text-white mb-2">
            <ul class="list-disc ml-6">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
                <li><a href="#">Link4</a></li>
            </ul>
        </div>
    </div>

    <div class="text-left">
        <div class="text-2xl text-white mb-2">Quick Links 3</div>
        <div class="text-md text-white mb-2">
            <ul class="list-disc ml-6">
                <li><a href="#">Link1</a></li>
                <li><a href="#">Link2</a></li>
                <li><a href="#">Link3</a></li>
                <li><a href="#">Link4</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="lg:grid lg:grid-cols-2 bg-blue-600 pt-4 pb-4">
    <div class="pd-4 text-2xl text-white text-center">
        Amalthea '21<div class="mt-2">Indian Institute of Technology Gandhinagar</div>
    </div>

    <div class="text-white text-2xl text-center">
        <div class="mb-3 text-center">Follow us on </div>
        <a href="https://www.instagram.com/amalthea_iitgn/" aria-label="link" target="blank" class="mr-5"><i
                class="fa fa-instagram hover:bg-pink-400 rounded-full bg-transparent p-2"></i></a>
        <a href="https://www.linkedin.com/company/amalthea-iit-gandhinagar/?originalSubdomain=in" class="mr-5"
            aria-label="link" target="blank"><i
                class="fa fa-linkedin hover:bg-blue-700 px-3 rounded-full bg-transparent p-2"></i></a>
        <a href="https://www.facebook.com/amalthea.iitgn/" class="mr-5" aria-label="link" target="blank"><i
                class="fa fa-facebook  hover:bg-blue-800 rounded-full bg-transparent p-2 px-4"></i></a>
        <a href="https://twitter.com/amalthea_iitgn?lang=en" class="mr-5" aria-label="link" target="blank"><i
                class="fa fa-twitter  hover:bg-blue-300 rounded-full bg-transparent p-2"></i></a>
        <a href="https://www.youtube.com/user/AmaltheaIITGn" class="mr-5" aria-label="link" target="blank"><i
                class="fa fa-youtube-play hover:bg-red-700 rounded-full bg-transparent p-2"></i></a>
    </div>

</div> -->


<div class="footer w-full flex">
    <div class="logo">
        <div class="amalimg">
            <img src="/images/Amalthea-White-removebg-preview.png" alt="">
        </div>
        <div class="socialicons">
            <a href="https://www.instagram.com/amalthea_iitgn/" aria-label="link" target="blank" class="px-2"><i
                    class="fa fa-instagram bg-transparent fa-2x"></i></a>
            <a href="https://www.linkedin.com/company/amalthea-iit-gandhinagar/?originalSubdomain=in" aria-label="link"
                target="blank" class="px-2"><i
                    class="fa fa-linkedin icon-cog bg-transparent fa-2x"></i></a>
            <a href="https://twitter.com/amalthea_iitgn?lang=en" aria-label="link" target="blank" class="px-2"><i
                    class="fa fa-twitter bg-transparent fa-2x"></i></a>
            <a href="https://www.facebook.com/amalthea.iitgn/" aria-label="link" target="blank" class="px-2"><i
                    class="fa fa-facebook  bg-transparent fa-2x"></i></a>
        </div>
    </div>
    <div class="quick1">
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/events">
                <li>Events</li>
            </a>
            <a href="/techexpo">
                <li>Tech Expo</li>
            </a>
            <!-- <a href="/sponsors">
                <li>Sponsors</li>
            </a> -->
        </ul>
    </div>
    <div class="quick1">
        <ul>
            <a href="/CAportal">
                <li>CA portal</li>
            </a>
            <a href="/sponsors">
                <li>Sponsors</li>
            </a>
            <a href="/webinars">
                <li>Webinars</li>
            </a>

        </ul>
    </div>
    <div class="amaltheainfo">
        <div class="title">AMALTHEA 2021</div>
        <div class="address">
            <div class="iconAddress"><i class="fa fa-home fa-2x bg-transparent"></i></div>
            <div class="addressinfo">Indian Institute of Technology,
                Palaj,
                Gujarat
                382355
            </div>
        </div>
        <div class="mail">
            <div class="iconMail">
                <i class="fa fa-envelope fa-2x bg-transparent"></i>
            </div>
            <div class="MailInfo">
                amalthea@iitgn.ac.in
            </div>
        </div>
    </div>
</div>