<nav class="bg-transparent h-14 flex items-center justify-between w-full absolute top-0 z-30">
	<ul class="flex mx-6 text-white">
		<li class="text-lg px-3 hover:border-b-2 hover:border-white"><a href="/">Home</a></li>
		<li class="text-lg px-3 hover:border-b-2 hover:border-white"><a href="/events">Events</a></li>
		<li class="text-lg px-3 hover:border-b-2 hover:border-white"><a href="/Webinars">Webinars</a></li>
	</ul>

	<div class="toggle-button mx-6 h-5 w-8 flex flex-col justify-between group cursor-pointer">
		<span class="bg-white w-full h-1/6 rounded-lg group-hover:bg-blue-300"></span>
		<span class="bg-white w-full h-1/6 rounded-lg group-hover:bg-blue-300"></span>
		<span class="bg-white w-full h-1/6 rounded-lg group-hover:bg-blue-300"></span>
	</div>

</nav>
<div class="full-nav w-full sm:w-1/3 h-screen bg-black flex flex-col fixed top-0 right-0 z-50">
	<div class="logo1 h-1/3 w-full flex items-center justify-evenly relative" style="background-color: #152642;">
		<img src="./images/Amalthea-White-removebg-preview.png" alt="Amalthea" class="h-40">
		<div class="text-3xl text-white font-semibold">AMALTHEA'21</div>
		<div class="cancel h-7 w-7 absolute top-0 right-0 m-3 cursor-pointer"><img src="./images/cancel.png" alt="cancel"></div>
	</div>
	<ul class="nav-links h-2/3 w-full flex flex-col justify-center items-center text-gray-100" style="background-color: #274169;">
		<!-- <li><a href="/">HOME</a></li> -->
		<li><a href="/CAportal">CA portal</a></li>
		<!-- <li><a href="/events">EVENTS</a></li> -->
		<!-- <li><a href="/webinars">WEBINARS</a></li> -->
		<li><a href="/techexpo">TECH EXPO</a></li>
		<li><a href="/sponsors">SPONSORS</a></li>
		<li><a href="/Webinars">WEBINARS</a></li>
		<li><a href="/pastsite">PAST SITES</a></li>
		<li><a href="/contact">CONTACT</a></li>
	</ul>
</div>